*{
    padding: 0;
    margin: 0;
}
header{
    left: 0;
    right: 0;
    top: 0;
    background-color: #1f7d53a9;
    position: fixed;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}
.navlink{
    display: flex;
    justify-content: space-around;
    gap: 3em;
}
.navlink a{
    color: #ffffff;
    text-decoration: none;
}
.navlink a:hover{
    color: #1c1b1b;
}
.navbtn{
    display: none;
}

.sec1{
    height: 100vh;
    background-color: #1c1b1b;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 h1{
    font-weight: normal;
    font-size: 60px;
}