* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* nanti warnanya kasi sesuai dengan warna bacgroundnya */
header {
  left: 0;
  right: 0;
  top: 0;
  background-color: #1f7d53a9;
  position: fixed;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.navlink {
  display: flex;
  justify-content: space-around;
  gap: 3em;
}
.navlink a {
  color: #ffffff;
  text-decoration: none;
}
.navlink a:hover {
  color: #1c1b1b;
}
.navbtn {
  display: none;
}

.main {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 70vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #1c1b1b, 40%, transparent),
    url("../properties/tanjungKarang3.jpg");
  background-size: cover;
  background-position: center;
}

.nav-main {
  justify-items: center;
}

.nav-main h4 {
  width: 100%;
  text-align: center;
  color: rgb(161, 161, 161);
  background-color: black;
}

.link-destination {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-destination a {
  color: white;
  padding: 2em 3em;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);
  border: 1px solid rgb(0, 0, 0);
  transition: 1s;
}

.link-destination a:hover {
  background: rgb(122, 224, 144);
  transition: 1s;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.penjelasan {
  text-align: center;
  padding: 3em;
}

.penjelasan span {
  left: 44%;
  font-size: 30px;
}

.penjelasan p {
  left: 15%;
  text-align: center;
}

section {
  color: white;
  background-color: #1c1b1b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.container > .flex-row:first-child .card {
  flex-direction: row-reverse;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  flex: 1 1 300px; /* Responsive flex grow/shrink with minimum width */
  max-width: 500px;
  background-color: #f9f9f93b;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensure consistent height using Flexbox */
.card > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1rem;
}
.card > div:first-of-type {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1rem;
}

.card img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.card span {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.card ul {
  font-size: 12px;
  padding-left: 1rem;
}

footer {
  height: 20vh;
  background-color: #1f7d53;
  background: linear-gradient(to bottom, #1c1b1b, 40%, #1f7d53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 10px;
}
.socialMedia {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin: 10px;
}
.socialMedia a {
  color: #ffffff;
}
.socialMedia a:hover {
  color: #1c1b1b;
}
.links {
  display: flex;
  gap: 2em;
  justify-content: center;
}
.links a {
  color: #ffffff;
  text-decoration: none;
}
.links a:hover {
  color: #1c1b1b;
}
.credit {
  color: #ffffff;
  margin: 10px;
}
.credit p:hover {
  color: #1c1b1b;
}
.credit a {
  color: #1c1b1b;
  text-decoration: none;
}

@media screen and (max-width: 428px) {
  header {
    left: 0;
    right: 0;
    top: 0;
    background-color: #1f7d53a9;
    position: fixed;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
  }
  .navlink {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    gap: 3em;
  }
  .navlink a {
    color: #ffffff;
    text-decoration: none;
  }
  .navlink a:hover {
    color: #1c1b1b;
  }
  .navbtn {
    display: none;
  }

  .main {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #1c1b1b, 40%, transparent),
      url("../properties/tanjungKarang3.jpg");
    background-size: cover;
    background-position: center;
  }

  .nav-main {
    justify-items: center;
  }

  .nav-main h4 {
    width: 100%;
    text-align: center;
    color: rgb(161, 161, 161);
    background-color: black;
  }

  .link-destination {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-destination a {
    color: white;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
    border: 1px solid rgb(0, 0, 0);
    transition: 1s;
  }

  .link-destination a:hover {
    background: rgb(122, 224, 144);
    transition: 1s;
    color: rgb(0, 0, 0);
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
  }

  .penjelasan {
    text-align: center;
    padding: 20px;
  }

  .penjelasan span {
    left: 44%;
    font-size: 30px;
  }

  .penjelasan p {
    left: 15%;
    text-align: center;
    font-size: small;
  }

  section {
    color: white;
    background-color: #1c1b1b;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  .container > .flex-row:first-child .card {
    flex-direction: row-reverse;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .card {
    flex: 1 1 300px; /* Responsive flex grow/shrink with minimum width */
    max-width: 500px;
    background-color: #f9f9f93b;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .card > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
  }
  .card > div:first-of-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
  }

  .card img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }

  .card span {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

  .card ul {
    font-size: 12px;
    padding-left: 1rem;
  }

  footer {
    height: 20vh;
    background-color: #1f7d53;
    background: linear-gradient(to bottom, #1c1b1b, 40%, #1f7d53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 10px;
  }
  .socialMedia {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 10px;
  }
  .socialMedia a {
    color: #ffffff;
  }
  .socialMedia a:hover {
    color: #1c1b1b;
  }
  .links {
    display: flex;
    gap: 2em;
    justify-content: center;
  }
  .links a {
    color: #ffffff;
    text-decoration: none;
  }
  .links a:hover {
    color: #1c1b1b;
  }
  .credit {
    color: #ffffff;
    margin: 10px;
  }
  .credit p:hover {
    color: #1c1b1b;
  }
  .credit a {
    color: #1c1b1b;
    text-decoration: none;
  }
}
